@font-face {
  font-family: 'Typo-Speed-Bold-Italic-Demo';
  src:url('../fonts/Typo-Speed-Bold-Italic-Demo.woff') format('woff'),
        url('../fonts/typo-speed-bold-italic-demo.woff2') format('woff2'),
        url('../fonts/Typo-Speed-Bold-Italic-Demo.svg#Typo-Speed-Bold-Italic-Demo') format('svg'),
        url('../fonts/Typo-Speed-Bold-Italic-Demo.eot'),
        url('../fonts/Typo-Speed-Bold-Italic-Demo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Typo-Speed-Bold-Italic-Demo.otf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}